body {
    background: red;
    color: grey;
}

header {
    background: blue;
    color: white;
}

.content-wrapper {
    background: yellow;
    padding:40px 0;
}

.icons {
    font-size: 10em;
    text-align: center;
}

.icons .glyphicon {
    padding: 20px;
}

footer {
    background: red;
    color: white;
    padding: 20px 0;
}
